#facebook-button {
  color: white;
  transition: 0.5s;
  background: url('../../dist/facebook-logo.png') transparent 12px 50% no-repeat;
  background-color: #3d5595;
  background-size: 12%;
}

#facebook-button:hover {
  margin: 0 -5px 0 -5px;
}

#twitter-button {
  color: white;
  transition: 0.5s;
  background: url('../../dist/sO5Y2aG.png') transparent 12px 50% no-repeat;
  background-color: #49aaf0;
  background-size: 12%;
}

#twitter-button:hover {
  margin: 0 -5px 0 -5px;
  background-color: #7dc6fb;
}

#google-button {
  color: #4285f4;
  transition: 0.5s;
  background: url('../../dist/1004px-Google__G__Logo.svg.png') transparent 15px
    50% no-repeat;
  background-color: white;
  background-size: 8%;
}

#google-button:hover {
  margin: 0 -5px 0 -5px;
  background-color: rgb(231, 231, 229);
}

#twitter-button,
#facebook-button,
#google-button {
  margin: 10px;
  text-align: center;
  font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 18px;
  padding: 13px 30px 15px 44px;
  text-decoration: none;
  line-height: 1;
  position: relative;
  border-radius: 5px;
}

#twitter-icon {
  background-image: url('../../dist/sO5Y2aG.png');
}
#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 10px;
  width: 20%;
  height: 25vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8cd8c;
  box-shadow: 2px 2px 3px 5px #dca755;
}

body {
  background-color: #f7c579;
}

#container {
  position: relative;
  width: 100%;
}

#heading {
  position: fixed;
  font-size: 100px;
  font-family: arial;
  color: #e0ab5a;
  /* position: absolute; */
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 10px; */
}
